<a href="https://colab.research.google.com/github/Haque14/MSE504/blob/main/HW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Name: Md Ershadul Haque**

**Department: Mechanical, Aerospace, and Biomedical Engineering**

**Chapter 01**

In [1]:
x = 14

In [2]:
x += 1

In [3]:
(x/5) ** 2

9.0

**Area of Triangle**

In [4]:
# Initialize variables
base, height = 2, 4
# Pythagorean Theorem in 3 dimensions
area_triangle = 1/2 * base * height
# Convert
area_triangle = int(area_triangle)
#Show the area
print(area_triangle)

4

In [5]:
# Choose a question to ask
print('How would you rate your day on a scale of 1 to 10?')
# Set a variable equal to input()
day_rating = input()
# Select an appropriate output.
print(f'You feel like a {day_rating} today. Thanks for letting me know')

How would you rate your day on a scale of 1 to 10?
9
You feel like a 9 today. Thanks for letting me know

In [6]:
# Find the Least Common Multiple of Two Divisors
counting = True
first_divisor = 24
second_divisor = 36
i = 1
while counting:
    if i % first_divisor == 0 and i % second_divisor == 0:
        print(f'The Least Common Multiple of {first_divisor} and {second_divisor} is {i}.')
        break
    i += 1

The Least Common Multiple of 24 and 36 is 72.

In [7]:
print('What is your name?')
name = input()
print('Fascinating.', name, 'is my name too.')
print('Have you thought about black holes today?')
yes_no = input()
print('I am so glad you said', yes_no, '. I was thinking the same thing.')
print('We\'re kindred spirits,', name, '. Talk later.')

print('How intelligent are you? 0 is no intelligence. And 10 is a genius')
smarts = input()
smarts = int(smarts)
if smarts <= 3:
   print('I don\'t believe you.')
   print('How bad of a day are you having? 0 is the worst, and 10 is the best.')
   day = input()
   day = int(day)
   if day <= 5:
       print('If I was human, I would give you a hug.')
   else:
       print('Maybe I should try your approach.')
elif smarts <= 6:
   print('I think you\'re actually smarter.')
   print('How much time do you spend online? 0 is none and 10 is 24 hours a day.')
   hours = input()
   hours = int(hours)
   if hours <= 4:
       print('That\'s the problem.')
   else:
      print('And I thought it was only me.')
elif smarts <= 8:
   print('Are you human by chance? Wait. Don\'t answer that.')
   print('How human are you? 0 is not at all and 10 is human all the way.')
   human = input()
   human = int(human)
   if human <= 5:
       print('I knew it.')
   else:
       print('I think this courtship is over.')
else:
   print('I see... How many operating systems do you run?')
   os = input()
   os = int(os)
   if os <= 2:
      print('Good thing you\'re taking this course.')
   else:
      print('What is this? A competition?')

What is your name?
Ershadul
Fascinating. Ershadul is my name too.
Have you thought about black holes today?
Yes
I am so glad you said Yes . I was thinking the same thing.
We're kindred spirits, Ershadul . Talk later.
How intelligent are you? 0 is no intelligence. And 10 is a genius
7
Are you human by chance? Wait. Don't answer that.
How human are you? 0 is not at all and 10 is human all the way.
9
I think this courtship is over.

**Exercise04**

In [8]:
first_number = 1
my_money = 1000.00

**Exercise05**

In [9]:
x = 5
y = 2
x + x - y ** 2
x, y = 8, 5
x // y

1

**Exercise06**

In [10]:
# This is a comment
# Set the variable pi equal to 3.14
pi = 3.14
pi = 3.14    # Set the variable pi equal to 3.14

Exercise08

In [11]:
greeting = 'Hello'
print(greeting)
greeting

Hello

'Hello'

In [12]:
spanish_greeting = 'Hola.'
spanish_greeting
arabic_greeting = 'Ahlan wa sahlan.'
spanish_greeting = 'Hola.'
print(spanish_greeting)

Hola.

In [13]:
arabic_greeting = 'Ahlan wa sahlan.'
print(arabic_greeting)

Ahlan wa sahlan.

**Exercise09**

In [14]:
spanish_greeting = 'Hola'
print(spanish_greeting + 'Senor.')
spanish_greeting = 'Hola '
print(spanish_greeting + 'Senor.')
greeting = 'Hello'
print(greeting * 5)

HolaSenor.
Hola Senor.
HelloHelloHelloHelloHello

**Exercise10**

In [18]:
name = 'Josephine'
name.lower()
name.capitalize()
name.upper()

'JOSEPHINE'

In [19]:
name.count('i')

1

**Exercise11**

In [20]:
type('5')

str

In [21]:
'5' + '7'

'57'

In [22]:
int('5')

5

In [23]:
int('5') + int('7')

12

**Exercise12**

In [24]:
# Choose a question to ask
print('What is your name?')
name = input()
print('Hello, ' + name + '.')
name = input('What is your name?')
print(f'Hello, {name}.')

What is your name?
Ershadul
Hello, Ershadul.
What is your name?Ershadul
Hello, Ershadul.

**Exercise13**

In [25]:
over_18 = True
type(over_18)

bool

In [26]:
over_21 = False
type(over_21)

bool

**Exercise14**

In [27]:
income = 80000
income < 75000

False

In [28]:
income >= 80000 and income <= 1000000

True

In [29]:
income != 100000

True

In [30]:
income == 90000

False

In [31]:
6 == 6.0

True

In [32]:
6 == '6'

False

In [33]:
age=29
(age >= 20 and age < 30) or (age >= 30 and age < 40)

True

In [34]:
(20 <= age < 30) or (30 <= age < 40)

True

**Exercise15**

In [35]:
'a' < 'c'

True

In [36]:
'New York' > 'San Francisco'

False

**Exercise16**

In [37]:
age = 20
if age >= 18 and age < 21:
    print('At least you can vote.')
    print('US Poker will have to wait.')

At least you can vote.
US Poker will have to wait.

In [39]:
if age >= 18:
    print('You can vote.')
    if age >= 21:
        print('You can play poker in the US.')

You can vote.

**Exercise17**

In [40]:
age = 20
if age < 18:
    print('You aren\'t old enough to vote.')
else:
    print('Welcome to our voting program.')

Welcome to our voting program.

In [41]:
if age >= 18:
    print('Welcome to our voting program.')
else:
    print('You aren\'t old enough to vote.')

Welcome to our voting program.

**Exercise18**

In [42]:
print('Enter a number to see if it\'s a perfect square.')

Enter a number to see if it's a perfect square.

In [43]:
number = input()

20

In [44]:
number = abs(int(number))

In [45]:
i = -1

In [46]:
square = False

In [47]:
while number >= 0 and number%1 ==0 and i <= number**(0.5) :
    i += 1
    if i*i == number:
        square = True
        break
if square:
    print('The square root of', number, 'is', i, '.')
else:
    print('', number, 'is not a perfect square.')

 20 is not a perfect square.

**Exercise19**

In [49]:
print('A one bedroom in the Bay Area is listed at $599,000')
print('Enter your first offer on the house.')
offer = abs(int(input()))
print('Enter your best offer on the house.')
best = abs(int(input()))
print('How much more do you want to offer each time?')
increment = abs(int(input()))
offer_accepted = False
while offer <= best:
    if offer >= 650000:
        offer_accepted = True
        print('Your offer of', offer, 'has been accepted!')
        break
    print('We\'re sorry, you\'re offer of', offer, 'has not been accepted.' )
    offer += increment

A one bedroom in the Bay Area is listed at $599,000
Enter your first offer on the house.
700000
Enter your best offer on the house.
800000
How much more do you want to offer each time?
10000
Your offer of 700000 has been accepted!

**Exercise20**

In [50]:
for i in 'Amazing':
    print(i)

A
m
a
z
i
n
g

In [51]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [52]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [53]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [54]:
for i in range(3, 0, -1):
    print(i)

3
2
1

In [55]:
name = 'Ershadul'
for j in range(3):
    for i in name:
        print(i)

E
r
s
h
a
d
u
l
E
r
s
h
a
d
u
l
E
r
s
h
a
d
u
l

**Chapter 02**

**Activity 06**

In [56]:
employees = [['John Mckee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]
print(employees)

[['John Mckee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]

In [57]:
for employee in employees:
    print(employee)

['John Mckee', 38, 'Sales']
['Lisa Crawford', 29, 'Marketing']
['Sujan Patel', 33, 'HR']

In [58]:
for employee in employees:
    print("Name:", employee[0])
    print("Age:", employee[1])
    print("Department:", employee[2])
    print('-' * 20)

Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [59]:
employee = employees[1]
print(employee)
print("Name:", employee[0])
print("Age:", employee[1])
print("Department:", employee[2])
print('-' * 20)

['Lisa Crawford', 29, 'Marketing']
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------

**Activity 07**

In [60]:
employees = [
    {"name": "John Mckee", "age":38, "department":"Sales"},
    {"name": "Lisa Crawford", "age":29, "department":"Marketing"},
    {"name": "Sujan Patel", "age":33, "department":"HR"}
]

print(employees)

[{'name': 'John Mckee', 'age': 38, 'department': 'Sales'}, {'name': 'Lisa Crawford', 'age': 29, 'department': 'Marketing'}, {'name': 'Sujan Patel', 'age': 33, 'department': 'HR'}]

In [61]:
for employee in employees:
    print("Name:", employee['name'])
    print("Age:", employee['age'])
    print("Department:", employee['department'])
    print('-' * 20)

Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [62]:
for employee in employees:
    if employee['name'] == 'Sujan Patel':
        print("Name:", employee['name'])
        print("Age:", employee['age'])
        print("Department:", employee['department'])
        print('-' * 20)

Name: Sujan Patel
Age: 33
Department: HR
--------------------

**Exercise21**

In [63]:
shopping = ["bread", "milk", "eggs"]
print(shopping)

['bread', 'milk', 'eggs']

In [64]:
for item in shopping:
    print(item)

bread
milk
eggs

In [65]:
mixed = [365, "days", True]
print(mixed)

[365, 'days', True]

In [66]:
print(mixed[0])

365

In [67]:
print(mixed[0:3])

[365, 'days', True]

**Exercise22**

In [68]:
shopping = ["bread","milk", "eggs"]
print(len(shopping))

3

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
final_list = list1 + list2
print(final_list)

In [69]:
list3 = ['oi']
print(list3*3)

['oi', 'oi', 'oi']

**Exercise23**

In [70]:
shopping = ["bread","milk", "eggs"]
print(shopping[1])

milk

In [71]:
shopping[1] = "banana"
print(shopping)

['bread', 'banana', 'eggs']

In [72]:
print(shopping[-1])

eggs

In [73]:
print(shopping[0:2])

['bread', 'banana']

In [74]:
print(shopping[:3])

['bread', 'banana', 'eggs']

In [75]:
print(shopping[1:])

['banana', 'eggs']

**Exercise24**

In [76]:
shopping = ["bread","milk", "eggs"]
shopping.append("apple")
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [77]:
shopping = []
shopping.append('bread')
shopping.append('milk')
shopping.append('eggs')
shopping.append('apple')
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [78]:
shopping.insert(2, 'ham')
print(shopping)

['bread', 'milk', 'ham', 'eggs', 'apple']

In [79]:
new_shopping = ['coffee', 'orange']
shopping.extend(new_shopping)
print(shopping)

['bread', 'milk', 'ham', 'eggs', 'apple', 'coffee', 'orange']

In [80]:
shopping.remove('ham')
print(shopping)

['bread', 'milk', 'eggs', 'apple', 'coffee', 'orange']

In [81]:
shopping.pop(2)
print(shopping)

['bread', 'milk', 'apple', 'coffee', 'orange']

In [82]:
shopping.sort()
print(shopping)

['apple', 'bread', 'coffee', 'milk', 'orange']

In [83]:
shopping.sort(reverse = True)
print(shopping)

['orange', 'milk', 'coffee', 'bread', 'apple']

In [84]:
shopping.index('coffee')

2

**Exercise25**

In [85]:
primes = [2, 3, 5, 7, 11]
primes_squared = []
for i in primes:
    primes_squared.append(i**2)
print(primes_squared)

[4, 9, 25, 49, 121]

**Exercise26**

In [86]:
m = [[1, 2, 3], [4, 5, 6]]

In [87]:
print(m[1][1])

5

In [88]:
for i in range(len(m)):
    for j in range(len(m[i])):
        print(m[i][j])

1
2
3
4
5
6

In [89]:
for row in m:
    for col in row:
        print(col)

1
2
3
4
5
6

**Exercise27**

In [90]:
X = [[1,2,3],[4,5,6],[7,8,9]]
Y = [[10,11,12],[13,14,15],[16,17,18]]

In [91]:
# Initialize a result placeholder
result = [[0,0,0],
        [0,0,0],
        [0,0,0]]

In [92]:
# iterate through rows
for i in range(len(X)):
# iterate through columns
    for j in range(len(X[0])):
        result[i][j] = X[i][j] + Y[i][j]

print(result)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]

In [93]:
X = [[10,11,12],[13,14,15],[16,17,18]]
Y = [[1,2,3],[4,5,6],[7,8,9]]

In [94]:
# Initialize a result placeholder
result = [[0,0,0],
        [0,0,0],
        [0,0,0]]

In [95]:
# iterate through rows
for i in range(len(X)):
# iterate through columns
    for j in range(len(X[0])):
        result[i][j] = X[i][j] - Y[i][j]

print(result)

[[9, 9, 9], [9, 9, 9], [9, 9, 9]]

**Exercise28**

In [96]:
X = [[1, 2], [4, 5], [3, 6]]
Y = [[1,2,3,4],[5,6,7,8]]

In [97]:
result = [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [98]:
# iterating by row of X
for i in range(len(X)):

    # iterating by coloum by Y
    for j in range(len(Y[0])):

        # iterating by rows of Y
        for k in range(len(Y)):
            result[i][j] += X[i][k] * Y[k][j]

In [99]:
for r in result:
    print(r)

[11, 14, 17, 20]
[29, 38, 47, 56]
[33, 42, 51, 60]

**Exercise29**

In [100]:
movie = {
    "title": "The Godfather",
    "director": "Francis Ford Coppola",
    "year": 1972,
    "rating": 9.2
}

In [101]:
print(movie['year'])

1972

In [102]:
movie['rating'] = (movie['rating'] + 9.3)/2
print(movie['rating'])

9.25

In [103]:
movie = {}
movie['title'] = "The Godfather"
movie['director'] = "Francis Ford Coppola"
movie['year'] = 1972
movie['rating'] = 9.2

In [104]:
movie['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan']
movie['other_details'] = {
    'runtime': 175,
    'language': 'English'
}
print(movie )

{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan'], 'other_details': {'runtime': 175, 'language': 'English'}}

**Exercise30**

In [105]:
album_sales = {'barbara':150,
               'aretha':75,
               'madonna':300,
               'mariah':220}
print(album_sales.values())
print(list(album_sales.values()))

dict_values([150, 75, 300, 220])
[150, 75, 300, 220]

In [106]:
print(list(album_sales.keys()))

['barbara', 'aretha', 'madonna', 'mariah']

In [107]:
for item in album_sales.items():
    print(item)

('barbara', 150)
('aretha', 75)
('madonna', 300)
('mariah', 220)

**Exercise31**

In [108]:
t = ('ballet', 'modern', 'hip-hop')
print(len(t))

3

In [110]:
t[2]

'hip-hop'

In [111]:
print(t + ('jazz','tap'))
print(t)

('ballet', 'modern', 'hip-hop', 'jazz', 'tap')
('ballet', 'modern', 'hip-hop')

In [112]:
t_mixed = 'jazz', True, 3
print(t_mixed)

t_shopping = ('jazz',3), ('ballroom',2), ('contemporary',5)
print(t_shopping)

('jazz', True, 3)
(('jazz', 3), ('ballroom', 2), ('contemporary', 5))

**Exercise32**

In [113]:
items = ['apple', 'orange', 'banana']
quantity = [5,3,2]

In [114]:
orders = zip(items,quantity)
print(orders)

<zip object at 0x7c5f2437f580>

In [115]:
orders = zip(items,quantity)
print(list(orders))

[('apple', 5), ('orange', 3), ('banana', 2)]

In [116]:
orders = zip(items,quantity)
print(tuple(orders))

(('apple', 5), ('orange', 3), ('banana', 2))

In [117]:
orders = zip(items,quantity)
print(dict(orders))

{'apple': 5, 'orange': 3, 'banana': 2}

**Exercise33**

In [118]:
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)
s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [119]:
s4 = {'martha graham', 'alvin ailey', 'isadora duncan'}
print(s4)

{'isadora duncan', 'martha graham', 'alvin ailey'}

In [120]:
s4.add('katherine dunham')
print(s4)

{'isadora duncan', 'martha graham', 'katherine dunham', 'alvin ailey'}

**Exercise34**

In [121]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}

In [122]:
print(s5 | s6)
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [123]:
print(s5 & s6)
print(s5.intersection(s6))

{3, 4}
{3, 4}

In [124]:
print(s5 - s6)
print(s5.difference(s6))

{1, 2}
{1, 2}

In [125]:
print(s5 <= s6)
print(s5.issubset(s6))

s7 = {1,2,3}
s8 = {1,2,3,4,5}

print(s7 <= s8)
print(s7.issubset(s8))

False
False
True
True

In [126]:
print(s7 < s8)

s9 = {1,2,3}
s10 = {1,2,3}

print(s9 < s10)
print(s9 < s9)

True
False
False

In [127]:
print(s8 >= s7)
print(s8.issuperset(s7))
print(s8 > s7)
print(s8 > s8)

True
True
True
False